*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color : black;
    color: white;
}
.container
{
   
    margin: 100px auto 0px auto;
    height: 350px;
    width: 300px;
    border-radius: 6px;

}
h1{
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-weight: normal;
    /* text-shadow: -2px 2px 8px white,
                 3px 4px 10px white,
                 1px 2px 50px rgba(252, 37, 37, 0.856),
                 0 0 30px rgba(252, 37, 37, 0.856),
                 0 0 40px rgba(252, 37, 37, 0.856),
                 0 0 1px rgba(252, 37, 37, 0.856)   ; */
    text-shadow: -2px -2px 10px #fff,2px 2px 10px #fff,0 0 20px rgba(252, 37, 37, 0.856),0 0 40px rgba(252, 37, 37, 0.856),0 0 60px rgba(252, 37, 37, 0.856),0 0  80px rgba(252, 37, 37, 0.856);
}
.row
{
    text-align: center;
    height: 100px;
    margin: 0px auto;
}
.border-b
{
    border-bottom: 2px solid black;
}
.col
{
    width: 100px;
    height: 100px;
    float: left;
    text-align: center;
    color: wheat;
    font-size: 3em;
    line-height: 100px;
    box-shadow: 0 0 5px #fff,
                inset 0 0 5px #fff,
                0 0 50px #fff,
                0 0 20px orange,
                inset 1px 0 20px orange,
                0 0 20px 2px  orange;
     /* text-shadow: -2px -2px 10px #fff,2px 2px 10px #fff,0 0 20px rgba(252, 37, 37, 0.856),0 0 40px rgba(252, 37, 37, 0.856),0 0 60px rgba(252, 37, 37, 0.856),0 0 80px rgba(252, 37, 37, 0.856); */
    cursor: pointer;
    border-radius: 6px;
}
.border-r
{
    /* border-right: 2px solid black; */
    border-radius: 6px;
  

}
.res
{
    text-align: center;
    padding: 21px 0;
}
